html {
  height: 100%;
  width: 100%;
  background-color: rgb(235, 222, 210);
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

/* Any item that has this as a class will inherit the bold version of the page-wide typeface (font-weight: 600) */
.geologica-bold {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

/* https://fonts.google.com/specimen/Geologica */

.header {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* I used the h#'s as generic titles that I could format. h2 is used in the individual data entries and doesn't require formatting, hence its exclusion */
h1 {
  font-size: 60px;
}

h3 {
  margin-bottom: -15px;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
}

/* When the form to enter new films is open, the page will prevent scrolling to place focus on the form itself. This will deactivate when the form is submitted or closed. */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* The orange 'Add A Film' button at the top of the page. */
.addFilm {
  transform: translate(0, -50%);
  font-size: 30px;
  height: 40px;
  margin: 10px;
  flex-grow: 1;
  background-color: rgb(247, 140, 0);
  border: none;
  border-radius: 4px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.addFilm:hover {
  transition-duration: 0.5s;
  background-color: rgb(247, 99, 0);
  font-size: 35px;
  height: 50px;
  margin: 5px;
}

/* Defining the maximum size of each of the classification pictures (G, PG, M, etc.) */
.classification {
  max-width: 75px;
}

/* The 'container' incorporates everything on the page except for the title, the 'Add A Film' button and the dev buttons at the bottom of the page */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* The left-hand box containing the fun facts */
.data_display {
  flex: 27%;
  background-color: rgb(233, 187, 141);
  padding: 20px;
  border-radius: 20px;
  margin: 1%;
  overflow: auto;
  height: auto;
  position: sticky;
  z-index: 5;
  top: 30px;
}

/* The right-hand box containing the individual film entries */
.data_list {
  flex: 67%;
  background-color: rgb(233, 187, 141);
  padding: 20px;
  border-radius: 20px;
  margin: 1%;
}

/* The header of the datalist, including the sorting buttons */
.datalist_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* The div containing the six sorting buttons */
.sorting_buttons {
  display: flex;
  justify-content: space-between;
}

/* The individual sorting buttons themselves */
.sort {
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin: 10px;
  margin-top: 15px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
  background-color: rgb(114, 65, 0);
  color: white;
  border: none;
  border-radius: 4px;
}

.sort:hover {
  background-color: rgb(88, 32, 0);
}

.sort:active {
  background-color: rgb(46, 17, 0);
}

/* The list of movie entries itself, to which the displayFilm() function writes directly into */
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

li {
  box-sizing: content-box;
  background-color: rgb(224, 160, 96);
  border-radius: 15px;
  width: 300px;
  margin: 2%;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}

/* The delete button located at the bottom of each film entry box */
#delete {
  font-size: 15px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(197, 95, 36);
  color: white;
  border: none;
  border-radius: 4px;
}

#delete:hover {
  background-color: rgb(145, 54, 2);
  transition: 0.3s;
}

/* Dynamic screen size constraints, this one dictating the facts box appearing on top of the list box, as opposed to side-by-side */
@media (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
  .data_display {
    position: static;
  }

  #fillList, #deleteList {
    display: none;
  }
}

/* Keeping the sorting buttons from aligning in weird ways, they are vertically ordered when the screen size cannot display them horizontal anymore */
@media (max-width: 1200px) {
  .datalist_header {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .sorting_buttons {
    flex-direction: column;
  }
}

/* The grey background that appears when the form is open */
.translucent {
  display: none;
  background-color: rgba(87, 87, 84, 0.7);
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
}

/* The form itself */
form {
  display: none;
  transform: translate(-50%, -50%);
  position: fixed;
  min-width: 332px;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  border: 2px solid grey;
  background-color: white;
  padding: 2em 2em;
}

/* Each individual row of the form */
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .7em;
}
                
label {
  width: 100px;
  float: left;
  text-align: left;
}

/* The typed entries in the form */
.data-entry {
  float: left;
  padding: 4px 4px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

/* As this button is a part of the form, it is classified as the 'input'. This is the green 'Submit' button at the bottom of the form */
.form-row > input {
  font-size: 15px;
  height: 40px;
  flex-grow: 1;
  background-color: rgb(106, 197, 106);
  border: none;
}

.form-row > input:hover {
  background-color: rgb(60, 221, 60);
  font-size: 18px;
}

/* The red 'Close' button at the bottom of the form. As it is not inherently part of the form itself and rather a manual addition to the div, it is configured slightly differently */
#close {
  font-size: 15px;
  height: 40px;
  flex-grow: 1;
  background-color: rgb(206, 117, 117);
  border: none;
}

#close:hover {
  background-color: rgb(221, 50, 50);
  font-size: 18px;
}

/* The dev buttons at the bottom left of the page, not intended for final release. Just here to make the marker's life easier. */
.extraButtons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.extras {
  font-size: 15px;
  height: 40px;
  max-width: 100px;
  margin: 10px;
  flex-grow: 1;
  background-color: rgb(211, 197, 183);
  border: none;
  border-radius: 4px;
  position: sticky;
  bottom: 20px;
  left: 20px;
  display: block;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.extras:hover {
  background-color: rgb(202, 184, 166);
}
